{% load staticfiles %}
{% load fileman_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>APITO</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Oswald:400,700|Dancing+Script:400,700|Muli:300,400" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'v1/fonts/icomoon/style.css' %}">

  <link rel="stylesheet" href="{% static 'v1/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'v1/css/jquery-ui.css' %}">
  <link rel="stylesheet" href="{% static 'v1/css/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'v1/css/owl.theme.default.min.css' %}">
  <link rel="stylesheet" href="{% static 'v1/css/owl.theme.default.min.css' %}">
  <link rel="stylesheet" https:="//stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="{% static 'v1/css/jquery.fancybox.min.css' %}">

  <link rel="stylesheet" href="{% static 'v1/css/bootstrap-datepicker.css' %}">

  <link rel="stylesheet" href="{% static 'v1/fonts/flaticon/font/flaticon.css' %}">

  <link rel="stylesheet" href="{% static 'v1/css/aos.css' %}">
  <link href="{% static 'v1/css/jquery.mb.YTPlayer.min.css' %}" media="all" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="{% static 'v1/css/style.css' %}">
  <style>
    /*sticky header position*/
    .sticky.is-sticky {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        z-index: 1000;
        width: 100%;
    }
    
    nav {
      background: #1089ff;
      min-height: 85px;
    }
    
    
    </style>
    
    <script>
    
    
    // Sticky navbar
    // =========================
    $(document).ready(function () {
                    // Custom function which toggles between sticky class (is-sticky)
                    var stickyToggle = function (sticky, stickyWrapper, scrollElement) {
                        var stickyHeight = sticky.outerHeight();
                        var stickyTop = stickyWrapper.offset().top;
                        if (scrollElement.scrollTop() >= stickyTop) {
                            stickyWrapper.height(stickyHeight);
                            sticky.addClass("is-sticky");
                        }
                        else {
                            sticky.removeClass("is-sticky");
                            stickyWrapper.height('auto');
                        }
                    };
    
                    // Find all data-toggle="sticky-onscroll" elements
                    $('[data-toggle="sticky-onscroll"]').each(function () {
                        var sticky = $(this);
                        var stickyWrapper = $('<div>').addClass('sticky-wrapper'); // insert hidden element to maintain actual top offset on page
                        sticky.before(stickyWrapper);
                        sticky.addClass('sticky');
    
                        // Scroll & resize events
                        $(window).on('scroll.sticky-onscroll resize.sticky-onscroll', function () {
                            stickyToggle(sticky, stickyWrapper, $(this));
                        });
    
                        // On page load
                        stickyToggle(sticky, stickyWrapper, $(window));
                    });
                });
    
    </script>


</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>


    


    <nav class="navbar  navbar-expand-lg navbar-light top-navbar" data-toggle="sticky-onscroll">
      <div class="container">
          <a class="navbar-brand" href="#"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
              
            <ul class="navbar-nav">
                
                  <li class="nav-item">
                      <a href="/"><img src="{% static 'apito-logo.png' %}" height="100" width="100"/></a>
                    </li>
                  
                  <li class="nav-item">
                      <a class="nav-link active" href="/" style="font-size: 30px; letter-spacing: .05rem; text-decoration: none; text-decoration-line: none; text-decoration-style: initial; text-decoration-color: initial; display: inline-block; font-weight: 900; color: white; padding-top: 20px;padding-right: 20px;padding-bottom: 20px;padding-left: 20px;"><b>HOME</b></a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'thisabout' %}" style="font-size: 30px; letter-spacing: .05rem; text-decoration: none; text-decoration-line: none; text-decoration-style: initial; text-decoration-color: initial; display: inline-block; font-weight: 900; color: white; padding-top: 20px;padding-right: 20px;padding-bottom: 20px;padding-left: 20px;"><b>FAQ</b></a>
                  </li>

              </ul>

          </div>
      </div>
  </nav>
    
    </div>
    
    <div>
        
    <!-- END slider -->
    <br>

  
    <div class="site-section">
    
        <div class="container">
            <div class="jumbotron">
                <h1>We received your donation. Thank you so much for supporting us!</h1>
                </div>
                <br>

          <br>
          <div class="d-flex justify-content-center"> 
          <p class="align-items-center"><img src='{{ no_matter|random_image }}' width="350" height="350" /></p>
          </div>
        </div>
    </div>


<br><br><br>
    

        <div class="footer bg-light">
      <div class="container">
      
        <div class="row text-center" >
          
          <div class="col-lg-3 ml-auto padding-0">
            <h3 class="footer-heading"><span>Site Links</span></h3>
            <ul class="list-unstyled">

                <li><a href="mailto:apito.help.center@gmail.com">Contact us</a></li>
                <li><a href="{% url 't' %}">Terms and Conditions</a></li>
            </ul>
          </div>
          <div class="col-lg-3 mr-auto padding-0">
              <h3 class="footer-heading"><span>Social Media</span></h3>
              <ul class="list-unstyled">
                  <li><a href="https://www.facebook.com/Apito-106229387484222/"><span class="fab fa-facebook fa-lg"></span> Facebook </a></li>
                  <li><a href="https://www.instagram.com/apebbleintheocean/"><span class="fab fa-instagram fa-lg"></span> Instagram</a></li>
                  <li><a href="https://www.youtube.com/channel/UCRLnvpXOc8nwdwNYaLU6nJA"><span class="fab fa-youtube fa-lg"></span> YouTube</a></li>
                  <li><a href="https://www.twitch.tv/g_ioo"><span class="fab fa-twitch fa-lg"></span> Twitch</a></li>
              </ul>
          </div>

        </div>
        <div class="row" style="margin-bottom: 0;">
          <div class="center mx-auto">
            <img src="{% static 'footer.png' %}" height="170" width="150"/>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div>
                <p class="text-center">
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    

  </div>
  <!-- .site-wrap -->


  <!-- loader -->
  <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#ff5e15"/></svg></div>



  <script src="{% static 'v1/js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'v1/js/jquery-migrate-3.0.1.min.js' %}"></script>
  <script src="{% static 'v1/js/jquery-ui.js' %}"></script>
  <script src="{% static 'v1/js/popper.min.js' %}"></script>
  <script src="{% static 'v1/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'v1/js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'v1/js/jquery.stellar.min.js' %}"></script>
  <script src="{% static 'v1/js/jquery.countdown.min.js' %}"></script>
  <script src="{% static 'v1/js/bootstrap-datepicker.min.js' %}"></script>
  <script src="{% static 'v1/js/jquery.easing.1.3.js' %}"></script>
  <script src="{% static 'v1/js/aos.js' %}"></script>
  <script src="{% static 'v1/js/jquery.fancybox.min.js' %}"></script>
  <script src="{% static 'v1/js/jquery.sticky.js' %}"></script>
  <script src="{% static 'v1/js/jquery.mb.YTPlayer.min.js' %}"></script>




  <script src="{% static 'v1/js/main.js' %}"></script>

</body>

</html>