{% load staticfiles %}
{% load bootstrap %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Apito</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


  <!-- Custom styles for this template -->
  <link href="{% static 'css/modern-business.css' %}" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  
  <script>
    
$(document).ready(function(){
  $(".rt").click(function(){
    $.ajax({url: "{% url 'aja' %}", success: function(result){
      $(".divshow").html(result);
    }});
  });
/*
  $(".fm").click(function(){
    var myusername = document.getElementById("username").value
    alert(myusername);
    $.ajax({
      type: "GET",
      url: "{% url 'aja' %}",
      data: myusername,
      cache: false,
      success: function(data) {
        $(".resultarea").text(data);
      }
    });
  }); */
  $('.fm').click(function(e) {
            e.preventDefault();
            $.ajax({
                type: 'GET',
                url: "{% url 'check_coupon' %}",
                data: {c: $('#username').val()},
                success: function(data)
                {
                    $(".resultarea").html(data);
                }
            });
        });
    });


  $(".juju").click(function(){
    $.post("{% url 'aja' %}" + $(".bubu").serialize())
  });
  

});

function hideFunction() {
    document.getElementById("h").style.display = "none";
  }

function showFunction() {
    document.getElementById("h").style.display = "block";
  }

function showAgreement() {
  agree.style.display = "block";
}
function hideAgreement() {
  agree.style.display = "none";
}

function showd() {
  alert("hehe d");
}

function showcoup() {
  coupon.style.display = "block";
}

function sendcoup() {
  var mycoupon = $("#username").val();
  $.ajax({
    type="GET",
    url: "{% url 'aja' %}",
    data: mycoupon,
    cache: false,
    success: function(data){
      $('.resultarea').text(data);
    }
  });
}


  </script> 



</head>

<body>

  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">Apito</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
         <li class="nav-item">
            <a class="nav-link" href="#">What's this about</a>
          </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'product' %}">Product</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Promo codes / donations</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">About us</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Contact us</a>
        </li>


        </ul>
        
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">


    <br>
{% if messages %}
{% for message in messages %}
{% if message.tags == 'success' %}
<div class="alert alert-success" role="alert">
{% else %}
<div class="alert alert-danger" role="alert">
{% endif %}
  {{message}}

</div>

{% endfor %}
{% endif %}
    <!-- Page Heading/Breadcrumbs -->
    <br>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/">Home</a>
      </li>
      <li class="breadcrumb-item active">Product</li>
    </ol>
    <div class="modal fade" id="modalSubscriptionForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h4 class="modal-title w-100 font-weight-bold">Subscribe</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body mx-3">
          <div class="md-form mb-5">
            <i class="fas fa-user prefix grey-text"></i>
            <input type="text" id="form3" class="form-control validate" required>
            <label data-error="wrong" data-success="right" for="form3">Your name</label>
          </div>
  
          <div class="md-form mb-4">
            <i class="fas fa-envelope prefix grey-text"></i>
            <input type="email" id="form2" class="form-control validate" required>
            <label data-error="wrong" data-success="right" for="form2">Your email</label>
          </div>
  
        </div>
        <div class="modal-footer d-flex justify-content-center">
          <button type="button" onclick="showd()" class="btn btn-indigo" data-dismiss="modal">Send <i class="fas fa-paper-plane-o ml-1"></i></button>
        </div>
      </div>
    </div>
  </div>
    
    <br>
    <form action="{% url 'product' %}" method="post">
      {{file_form|bootstrap}}
      {% csrf_token %}
    <button type="button" onclick="showAgreement()" class="btn btn-primary">&nbsp;&nbsp;&nbsp;&nbsp;Pay&nbsp;&nbsp;&nbsp;&nbsp;</button> 
    <br>
    <div style="display: none;" id="agree">
      <p>This is an agreement and you must accept it to continue.</p>
      <label for="tandc"> I agree to all terms and conditions.</label> 
      <input type="checkbox" id="check" onchange="document.getElementById('popupbtn').disabled = !this.checked;"/>
      <br>
      <button type="button" onclick="showcoup()" class="btn btn-primary" name="popup-btn" id="popupbtn" disabled="disabled" data-toggle="modal" data-target="#modalSubscriptionForm">I Accept</button>
    </div>
<br>
    <div style="display: none;" id="coupon">
      <input type="input" id="couponinput" name="couponinput"/>
      <button type="button" class="btn btn-primary">Apply Coupon</button>
      <br>
      <p></p>
    </div>


  
 


    </form>

    <br>
    <br>
    <br>
    <button class="rt">Show message</button>
    <div class="divshow"><h2>hihii</h2></div>

<br>
<br>
<input type ="text" name="username" id="username">
<button class="fm">Send</button>
<div class="resultarea"></div>
<br>
<br>
<form class="bubu">
  <input type="text" name="username" id="usernamee">
  <button class="juju">S</button>
</form>

<br>
<br>

<form id="formoid" action="{% url 'aja' %}" title="" method="get">
  <div>
      <label class="title">First Name</label>
      <input type="text" id="name" name="name" >
  </div>
  <div>
      <label class="title">Name</label>
      <input type="text" id="name2" name="name2" >
  </div>
  <div>
      <input type="submit" id="submitButton"  name="submitButton" value="Submit">
  </div>
</form>
<script type='text/javascript'>
/* attach a submit handler to the form */
$("#formoid").submit(function(event) {

/* stop form from submitting normally */
event.preventDefault();

/* get the action attribute from the <form action=""> element */
var $form = $( this ),
    url = $form.attr( 'action' );

/* Send the data using post with element id name and name2*/
var posting = $.get( url, { name: $('#name').val(), name2: $('#name2').val() } );

/* Alerts the results */
posting.done(function( data ) {
  alert('success');
});
});
</script>

<h4 id="h">main tera hero</h4>
<br>
<button onclick="hideFunction()">Hide H4</button>
<br>
<button onclick="showFunction()">Show H4</button>



<br>
<br>
  </div>

  <script>
    $('#submitBtn').on('click',function(){
        $.ajax({
            type: 'GET', 
            url: "{% url 'check_coupon' %}",      
            data: {'c': $('#id1').val()},         
            success: function (data)
            {
               $("#content").html(data);
            }
        });   
        return false;
    });
</script>

<form name="c">
    <input type="text" id="id1">
    <input id="submitBtn" type="submit">
</form>
<div id="content"></div>


<br>
<br>



  <!-- /.container -->


  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>
</html>
