							{% load staticfiles %}
							<div id="dilbar{{fields_count}}" class="pebbles-class" style="display: block;">
								<hr>
								<br>
								<label class="control-label" for="file_type{{fields_count}}">1) Select File Type</label>
								<div class="container">
									<div class="text-center">
										<input id="file_type{{fields_count}}" name="file_type{{fields_count}}" type="hidden"><br>
										<div id="fileTypeArea{{fields_count}}"><img height="90" id="fileTypeImage{{fields_count}}" onclick="javascript:topipopi(this);" src="{% static 'imig.png' %}" width="90"> <span class="mx-4"></span> <img height="90" id="fileTypeVideo{{fields_count}}" onclick="javascript:popitopi(this);" src="{% static 'vidig.png' %}" width="90"></div>
									</div>
								</div>
								<script>

								        
								          var fileTypeImage{{fields_count}} = document.getElementById('fileTypeImage{{fields_count}}');
								          var fileTypeVideo{{fields_count}} = document.getElementById('fileTypeVideo{{fields_count}}');
								        
								          fileTypeImage{{fields_count}}.addEventListener('click', function() {
								              id_file_here{{fields_count}}.value = id_file_here{{fields_count}}.defaultValue;
								              fileTypeImage{{fields_count}}.style = "border-radius: 50%; border: 10px solid #4b77ff; color: #4b77ff;"
								              fileTypeVideo{{fields_count}}.style = "none";
								              document.getElementById('file_type{{fields_count}}').value = "im";
								              para{{fields_count|add:"1"}}.innerHTML = "Note: Compatible file types include .jpg, .png, .heic and .gif (maximum size of 33MB)"
								              
								          }, false);
								        
								          fileTypeVideo{{fields_count}}.addEventListener('click', function() {
								              id_file_here{{fields_count}}.value = id_file_here{{fields_count}}.defaultValue;
								              fileTypeVideo{{fields_count}}.style = "border-radius: 50%; border: 10px solid #4b77ff; color: #4b77ff;";
								              fileTypeImage{{fields_count}}.style = "none";
								              document.getElementById('file_type{{fields_count}}').value = "vid";
								              para{{fields_count|add:"1"}}.innerHTML = "Note: Compatible file types include .mp4, .mkv, .avi, .mov and .flv (maximum size of 100MB)"

								          }, false);
								</script>
								<div class="form-group">
									<label class="control-label" for="id_file_here{{fields_count}}" id="merisohnifile{{fields_count}}">2) Select File</label>
									<p id='para{{fields_count|add:"1"}}' style="font-size: 16px; color: red;"></p>
									<div class="">
										<input id="id_file_here{{fields_count}}" class="pebble-file-class" name="file_here{{fields_count}}" onchange="checkFileSize(this,file_type{{fields_count}});" required="" type="file">
									</div>
								</div>
								<div class="form-group">
									<label class="control-label" for="id_text{{fields_count}}">3) Add Your Story</label>
									<div class="">
										<textarea class=" form-control pebble-text-class" cols="40" id="id_text{{fields_count}}" maxlength="4000" name="text{{fields_count}}" oninput="javascript:textCountFunction(this,textcounter{{fields_count}});" required="" rows="10"></textarea>
										<div id="textcounter{{fields_count}}">
											0/4000
										</div>
										<div id="dilbardelete{{fields_count}}" class="pebble-delete-class" style="text-align: right; padding-right: 0px;">
											<a href="#" onclick="javascript:DeleteThisFile('dilbar{{fields_count}}');"><span class="fas fa-trash-alt fa-lg" title="Delete it"></span></a>
										</div>
									</div>
								</div>
							</div>