{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>APITO - Terms and Conditions</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Oswald:400,700|Dancing+Script:400,700|Muli:300,400" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'v1/fonts/icomoon/style.css' %}">

  <link rel="stylesheet" href="{% static 'v1/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'v1/css/jquery-ui.css' %}">
  <link rel="stylesheet" href="{% static 'v1/css/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'v1/css/owl.theme.default.min.css' %}">
  <link rel="stylesheet" href="{% static 'v1/css/owl.theme.default.min.css' %}">

  <link rel="stylesheet" href="{% static 'v1/css/jquery.fancybox.min.css' %}">

  <link rel="stylesheet" href="{% static 'v1/css/bootstrap-datepicker.css' %}">

  <link rel="stylesheet" href="{% static 'v1/fonts/flaticon/font/flaticon.css' %}">

  <link rel="stylesheet" href="{% static 'v1/css/aos.css' %}">
  <link href="{% static 'v1/css/jquery.mb.YTPlayer.min.css' %}" media="all" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="{% static 'v1/css/style.css' %}">


  <style>
    /*sticky header position*/
    .sticky.is-sticky {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        z-index: 1000;
        width: 100%;
    }
    
    nav {
      background: #1089ff;
      min-height: 85px;
    }
    
    
    </style>
    
    <script>
    
    
    // Sticky navbar
    // =========================
    $(document).ready(function () {
                    // Custom function which toggles between sticky class (is-sticky)
                    var stickyToggle = function (sticky, stickyWrapper, scrollElement) {
                        var stickyHeight = sticky.outerHeight();
                        var stickyTop = stickyWrapper.offset().top;
                        if (scrollElement.scrollTop() >= stickyTop) {
                            stickyWrapper.height(stickyHeight);
                            sticky.addClass("is-sticky");
                        }
                        else {
                            sticky.removeClass("is-sticky");
                            stickyWrapper.height('auto');
                        }
                    };
    
                    // Find all data-toggle="sticky-onscroll" elements
                    $('[data-toggle="sticky-onscroll"]').each(function () {
                        var sticky = $(this);
                        var stickyWrapper = $('<div>').addClass('sticky-wrapper'); // insert hidden element to maintain actual top offset on page
                        sticky.before(stickyWrapper);
                        sticky.addClass('sticky');
    
                        // Scroll & resize events
                        $(window).on('scroll.sticky-onscroll resize.sticky-onscroll', function () {
                            stickyToggle(sticky, stickyWrapper, $(this));
                        });
    
                        // On page load
                        stickyToggle(sticky, stickyWrapper, $(window));
                    });
                });
    
    </script>
    


</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>


    


    <nav class="navbar  navbar-expand-lg navbar-light top-navbar" data-toggle="sticky-onscroll">
      <div class="container">
          <a class="navbar-brand" href="#"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
              
            <ul class="navbar-nav">
                <li class="nav-item">
                      <a href="/"><img src="{% static 'apito-logo.png' %}" height="100" width="100"/></a>
                    </li>
                  
                  <li class="nav-item">
                      <a class="nav-link active" href="/" style="font-size: 30px; letter-spacing: .05rem; text-decoration: none; text-decoration-line: none; text-decoration-style: initial; text-decoration-color: initial; display: inline-block; font-weight: 900; color: white; padding-top: 20px;padding-right: 20px;padding-bottom: 20px;padding-left: 20px;"><b>HOME</b></a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'thisabout' %}" style="font-size: 30px; letter-spacing: .05rem; text-decoration: none; text-decoration-line: none; text-decoration-style: initial; text-decoration-color: initial; display: inline-block; font-weight: 900; color: white; padding-top: 20px;padding-right: 20px;padding-bottom: 20px;padding-left: 20px;"><b>FAQ</b></a>
                  </li>
                

              </ul>

          </div>
      </div>
  </nav>
    
    </div>
    
    
    <!-- END slider -->
    <br>
    <div class="container py-3">
        <div class="jumbotron" style="width: 100%; text-align: center;">
            <h1>Terms and Conditions</h1>
        </div>
<p>The following terms and conditions describe the way and manner in which you may
view, browse, log on to, and use the Apito website and provided services.
Your use of the Apito website in any of the above-mentioned ways shall be considered
by us as your agreement to being bound by all provisions of these terms and
conditions that we have set forth below. You must immediately exit the website if you
are not fully in agreement with these provisions.
Your use of the Apito service is subject to any additional terms, policies, guidelines,
or rules that we may upload occasionally, and you accept that all such additions are
by reference incorporated into these terms and conditions.
We reserve the right to modify, review, add additional and/or delete terms at any time
without prior notice to you. It is however our policy to specify the last date updated on
this page when we do, and your continued use of the Apito website after we have
made any such change shall be deemed as your acceptance of the terms and
conditions as revised.</p>	
<br>
<h3>WHAT APITO DOES</h3>

<p>	Apito is an online platform that allows users to upload pictures, videos and
descriptions which we will then store in a time capsule for several years. The intention
is to dig up these time capsules after a predetermined amount of time and reveal all
media content and corresponding descriptions for the public to see. Thus, the future
generation can see what people were like and what life was like back in previous
years.</p>
<p>Users can also use the service to purchase eGifts which can be sent to their family and
friends directly through email. An eGift is a virtual gift card that can be used to make
purchases on the Apito website.</p>
<p>Finally, we also take donations for those that would like to support our cause and help
us fund our project. Donations will primarily be used to provide others with eGifts for
use on the Apito website in order to get as many people involved as possible.
Donations will also be used to cover some of the project costs.</p>
<br>
<h3>ACCEPTABLE USE OF THE WEBSITE</h3>

<p>This service is offered for all internet users who are able to form legally binding
contracts. For minors using this website, you must do so under the supervision of a
parent/legal guardian</p>
<p>If you are so eligible, we offer you a limited and fully reversible, non-assignable, nonexclusive, and non-sublicensable license to access and use the Apito service in
compliance with all these terms and conditions.</p>
<br>
<h3>PERSONAL INFORMATION</h3>

<p>We may ask you to provide personal information such as name and relevant contact
details in order to be able to use our services.</p>
<p>You hereby represent that all the information that you put forward on Apito are
truthful, complete and not intentionally misleading.</p>
<p>We may refuse you the use now or later of the service in the event that we discover
that you are an underage person using the service without adult supervision and/or
the personal information you provide to us is deliberately misleading or incorrect.</p>

<br>
<h3>OUR COPYRIGHT AND INTELLECTUAL PROPERTY</h3>

<p>All of the content that we make available through, display or feature on, and make
available within the website including but not in any way limited to text, graphics,
images, photographs, sounds, video, illustrations, information, communications,
moving images, code and all other materials (collectively known as “content") is
owned by Apito, its parent, its affiliates, its licensors or content providers, unless
otherwise explicitly mentioned.</p>
<p>All such content is fully protected by copyright, trademark, and other relevant laws
and international treaty provisions. You may not use the Apito content in any way
except as permitted in this agreement or with the prior written permission of Apito.
Any unauthorized use of our content by you may subject you to criminal or civil
penalties.</p>
<p>All trademarks, service marks, trade names, trade dress, icons and logo found on this
website are the property of Apito, its parent, its affiliates, respective licensors or other
third parties. You may not in any way use, copy, reproduce, republish, distribute,
transmit, or modify the trademarks found on the website without Apito’s prior written 
consent. Without the written permission of Apito, the use of any of the trademarks on
any other website is prohibited.</p>
<p>You may not record, transmit, retransmit, reproduce, copy, sell, rent, publish, upload,
post, broadcast, distribute, publicly display, alter, perform, digitize, compile,
incorporate into new works, translate or transmit to any other computer, website or
other medium in any way or for any purpose, any part of our website, including
without limitation downloads, materials or any other site content, without Apito’s
express prior written approval.</p>

<br>
<h3>UPLOADING PHOTOS, VIDEOS, AND TEXT</h3>


<p>We allow our users to use our service to upload their photos, videos, and text for future
encapsulation.</p>
<p>You understand and accept that you are fully and legally liable for any and all
consequences that may arise out of your upload of such content on the Apito website.
You agree to defend and indemnify Apito, its subsidiaries and affiliates, their officers,
executives, agents, and managers, and hold them not guilty from and innocent from
any claims, liabilities, reparations, damages, and expenses, including without
reservation sensible legal and accounting costs that is in any way connected to your
provision and upload of such content on the Apito platform.</p>
<p>You also agree that while accessing and using the website is free, you will be charged
nonrefundable fees when you choose to make a purchase to either upload content,
buy eGifts or to make a donation.</p>
<p>We will only provide you with our service of future encapsulation upon receipt of your
payment.</p>
<p>You understand and accept that any inappropriate content that is uploaded, via the
media file or the description, will result in the removal of both the uploaded file and
description pair from the time capsule without notice and that there will be no refunds
to you after such a removal.</p>


<br>
<h3>PAYMENT METHOD</h3>

<p>You may make payments online on our website either by credit card or debit card
and must provide only current, complete and truthful purchase information. We also
allow payment through PayPal, Venmo, Google Pay, and Apple Pay, provided that
your device is compatible for using such payment methods.</p>


<br>
<h3>REFUND POLICY</h3>
<p>You understand and accept that we do not offer any refunds as we offer a customized
service. All payments are final and nonrefundable after payment is completed, even
if you decide that you no longer want to use our services.</p>
<p>We cannot perform any refunds for finalized payments as our system does not
currently support such a function. Therefore, please review all instructions and your
inputted information carefully before finalizing any payment as we cannot perform
any refunds once the payment has been processed. Make sure that you are in
agreement with the purchase you are making before doing so.</p>


<br>
<h3>SALES TERMS </h3>
<p><b>Pricing:</b> Except Apito specifically states otherwise, all prices listed on our website
are listed in US Dollars. You accept that these prices may without notice change, and
that we will not be legally responsible to you or to any third-party for any price
change.</p>
<p><b>Payment method:</b> You may make payments online on our website either by credit
card or debit card.We also allow payment through PayPal, Venmo, Google Pay, and
Apple Pay, provided that your device is compatible for using such payment methods.
You must provide only current, complete and truthful account and purchase
information for all the purchases that you make at our store. </p>
<p><b>Colors:</b> We have tried our best to display the colors of the products that appear on
the Apito website as accurately as we possibly can. You however recognize and
accept that the color of the actual products may differ from the color of products seen
on the website. Apito will not be held liable for differences between monitor color and
actual color of product.</p>
<p><b>Cancelations and changes: </b> We do not allow for cancellation or change of orders.
Once your purchase is complete, we will not be able to track the order as each order
is made anonymously. We however ask that you read all instructions carefully and be
fully satisfied with your purchase before finalizing the transaction.</p>
<p><b>Delivery: </b>We do not physically deliver any products to our users, as all of our
transactions are done virtually. As soon as we have confirmed your order, we will
upload your media contents and descriptions to a database. Where you have
purchased an eGift on a recipient’s behalf, we will email you and the recipient his/her
eGift.</p>
<p><b>Return, exchanges and refunds: </b> You understand and accept that we do not offer
any returns, exchanges or refunds as we offer a customized service. All payments
are final and nonrefundable, even if you decide that you no longer want to use our
services.</p>


<br>
<h3>EGIFTS</h3>
<p>Users can also purchase eGifts on the website for their friends and family. Our policy
is to charge your credit, debit card or other payment method for the eGift ordered by
you and to then deliver the eGift directly to your email and the email of your intended
recipient.</p>
<p>The recipient may then use the eGift to make purchases on our website. Our usual
delivery policy shall apply, but you understand that we will under no circumstances
refund cash to a recipient for an eGift.</p>
<p>eGifts are non-refundable.</p>



<br>
<h3>SUPPORTING OUR CAUSE</h3>
<p>Users who are interested in our cause can support the Apito project through the
donate tab found on the homepage of this website and subsequently following the
prompts.</p>
<p>Please note that donations are nonrefundable.</p>


<br>
<h3>USER GENERATED CONTENT</h3>
<p>When you upload content on the website, you represent that you are the sole
proprietor of all such user content or that you have all rights, releases, approvals and
licenses that is necessary to grant us the license to the user content. Although any
content provided by you remains your property, you grant us a worldwide,
continuous, irreversible, transferrable, royalty-free license, with the right to make
derivative works of, sub-license, duplicate, openly show, publicly perform, adjust,
distribute, and to use such user content without requiring consent from you and
without having to give further notice to you. Also, you agree that we will not have the
need to financially recompense you or any other entity, by your provision of such user
content to Apito. </p>


<br>
<h3>PROHIBITED USES</h3>

<p>To use the service, here are the rules of conduct you must abide by:</p>
<ul>
  <li>You must not use this website and its services for any illegal/unlawful purposes.</li>
  <li>You are not allowed to link to, mirror, or frame any portion of our website and
services.</li>
  <li> You are not to gain or try to gain unauthorized access to or incapacitate any
portion of our website and its related systems.</li>
  <li> You must not delete any copyright, trademark or any other proprietary notice
from any part of our service.</li>
  <li> You must never upload or provide content that is in violation of any local, state,
federal, or international law.</li>
  <li> We strictly prohibit content that violates third party rights, including trade
secrets, copyrights, trademarks, patents, and publicity or privacy rights.</li>
  <li> We strictly prohibit content that we in our sole discretion deem disparaging,
slanderous, indecent, illegal, ill-mannered, menacing, vile, or humiliating to
any other individual or entity.</li>
  <li> We strictly prohibit content that we consider to be ethnically biased or
religiously provocative and that ridicules or criticizes others based on their
sexual orientation and/or gender.</li>
  <li> We strictly prohibit the uploading of content that is false, inappropriate, or
misleading. </li>
  <li> We strictly forbid the malicious introduction of Trojans, logic bombs, viruses,
worms or any other technologically harmful software to the service.</li>
  <li> You are not allowed to upload advertisements and/or spam links to other
websites, services, individuals or solicitations, without the prior written
permission of Apito.</li>
  <li> You may not use our service to advertise chain letters or pyramid schemes.</li>
  <li> You may not upload content that disrupts the normal flow of dialogue; or that
disrupts the Apito service, servers and/or networks related to the service.</li>
  <li> You may not access Apito using automated means for the express purpose of
harvesting other users’ personal information.</li>
  <li> You may not upload, post, or communicate any user content that have no right
to upload or transmit under any law and/or under any fiduciary or contractual
relationship.</li>
  <li> You are not to forge headers or identifiers in order to disguise the origin of any
content that you transmit through the service.</li>
  <li> You are not to upload any content that falsely impersonates any individual or
entity including without any limitation to, an Apito official, or falsely
misrepresent your relationship with a person or entity.</li>
  </ul>
<p>We will consider you fully liable for any and all legal costs, damages and losses
resulting from your violation if we find you to have violated any of the conditions of
this agreement. You understand that we may also terminate your use of the service
without any prior warning if you breach any of these terms.</p>

<br>
<h3>WARRANTIES AND DISCLAIMERS</h3>
<p>The website and other website content offered through the Apito platform are offered
on an "as is" basis only. Except as expressly stated, we expressly disclaim any
warranties, whether direct or implied (of merchantability, fitness for a particular
purpose, suitability, title, durability, and non-infringement) regarding any matter
relating to the website or the use of Apito's services. You use the website and any
downloads, materials and other website content at your own risk.</p>
<p>We do not make any representations concerning software incompatibilities, viruses,
or any other effect which the website or provided materials may have on the
computer, and/or other electronic equipment owned or operated by you. </p>
<p>In no event shall Apito or its officers, shareholders, or employees be liable for any
direct, indirect, consequential, incidental, punitive, special or any other damages
whatsoever which without limitation may include loss of profits, loss of information,
business interruption, or any other damages, arising out of your use of the website or
any other Apito goods or services, your inability to use the website or any other Apito
goods or services, the failure by Apito to provide any materials or other website
content or any other Apito goods or services at any time, or arising out of or in
connection with the use of the website whether based on contract, negligence, tort, at
law or in equity. </p>
<p>Nothing in these terms is meant to limit or exclude any legal responsibility for death
or injury arising from deception, carelessness, or any other liability which may not be
exempted or restricted by law, or aimed at affecting your statutory rights. </p>
<p>If some applicable law does not allow the limitation of liability as we have set forth
above, this limitation of liability will not apply to you. </p>


<br>
<h3>INDEMNITY</h3>
<p>You agree to defend and indemnify Apito, its subsidiaries and affiliates, their officers,
executives, agents, and managers, and hold them not guilty from and innocent from
any claims, liabilities, reparations, damages, and expenses, including without
reservation sensible legal and accounting costs that is in any way connected to your
use of the Apito website and services or your breach of any provision of these terms.</p>


<br>
<h3>SEVERABILITY</h3>
<p>If any provision of these terms and conditions is held to be unenforceable and or
invalid by a competent court of Canada, both parties agree that such specific
provisions will be amended to reflect both parties' intention while all remaining
clauses shall remain in effect with full force. </p>


<br>
<h3>GOVERNING LAW AND JURSIDICTION</h3>
<p>Without considering any principles of conflicts of law, our choice of governance and
jurisdiction for the interpretation and governance of law as regards the Apito terms is
Canada.</p>


<br>
<h3>WAIVER</h3>
<p>No waiver at any time of any of these terms and conditions on our part shall be
considered a continuing or further waiver of such term and condition or of any other
term or condition.</p>


<br>
<h3>TERMINATION FOR CAUSE</h3>
<p>Apito reserves the right to and may without prior notice, terminate the services
offered to you by Apito if you are discovered to be in violation of our users’ rule of
conduct; at the demand of a law enforcement and/or other government agency for
legal reasons; due to discontinuance or a significant modification to the website and
service; after extended periods of user inactivity; and/or due to unanticipated security
or technical issues or problems. </p>
<p>You hereby agree and fully accept that all terminations for cause shall be made in
Apito’s sole discretion and that we shall not be held liable by either you or to any
third-party for the restriction of your access to the service.</p>


<br>
<h3>PRIVACY POLICY</h3>
<p>At Apito, we remain deeply committed to respecting the privacy of our users. This
Privacy Policy describes Apito’s online data collection and usage practices. </p>
<p>Your use of the Apito website and services after reading this policy means that you
agree fully to this Privacy Policy. If you disagree with Apito’s policy in any way, you
are advised to stop using our services and leave the website immediately. </p>




<br>
<h3>COLLECTION AND USE OF INFORMATION </h3>
<p>In some areas of Apito, we may ask that you provide information such as name,
address, e-mail address, phone numbers, contact information, billing information and
other relevant information from which we may discern your identity. </p>
<p>We also gather/collect certain general information when you use Apito. This type of
information includes those services that you access and what areas you visit. Our
servers also automatically collect information about your computer hardware and
software. This routinely collected information may include your IP address, browser
type, domain names, access times and referring website addresses. Please note that
such details are not linked to your personal information.</p>
<p>We may also gather information about you from the content that you entrust to us for
encapsulation.</p>


<br>
<h3>USE AND DISCLOSURE OF YOUR PERSONAL INFORMATION</h3>
<p>Apito may use your personal information for the following reasons:</p>
<ul>
  <li> To provide the service that you request.</li>
  <li> To respond to any queries or complaints that you may have.</li>
  <li> To run and fully manage the provision of our services.</li>
  <li> To authenticate your identity.</li>
  <li> For analytics and marketing purposes.</li>
  <li> To provide you with our customer services.</li>
  <li> To obey all applicable laws and regulatory requirements, which may include
complying with a request made by a government authority as it relates to legal
proceedings or for the detection or prevention of fraud and other financial
crimes.</li>
  </ul>


<br>
<h3>DISCLOSING PRIVATE INFORMATION TO THIRD PARTIES </h3>
<p>We may make available your private information to the following third parties but only
under the following circumstances:</p>
<p><b>Service providers:</b> Apito uses various service providers to perform certain tasks and
functions and to provide services to us. We may share your private information with
these service providers, but our disclosure to them under this situation is subject to
confidentiality obligations that are in line with this Privacy Policy. These third parties
are also under a legal agreement with us to only use your private information on our
behalf, pursuant to our instructions and for no other purpose.</p>
<p><b>To comply with the law:</b> We may share your private information with relevant law
enforcement or government authorities if we believe that this is necessary to do so in
compliance with a law or legal request; if it is required for us to do so in order to
protect the safety of other persons; to address fraud, technical, or security issues; or
to safeguard our rights and/or property.</p>
<p><b>With the general public: </b> You understand and accept that we will reveal your pictures
or videos and corresponding descriptions to the public, according to the functioning
of the project. We will however only do this after we have gathered all of the uploaded
content, stored it in a secure time capsule underground, and after a specified amount
of time, have dug up and reopened the time capsule. Please note that only the pictures
or videos and corresponding descriptions uploaded by our users will be revealed for
the public to see. All other information provided to us by our users is kept strictly
confidential. The data and information provided by our users is only used for the
purposes of this project.</p>
<p>Barring the circumstances above, we will never knowingly transfer, sell or share any
of your personal information with a third party.</p>



<br>
<h3>SECURING YOUR PERSONAL INFORMATION</h3>
<p>While we deploy reasonable technical and organizational measures so as to secure
your personal information from illegal access, modification, disclosure, or usage, you
however understand that we cannot fully guarantee this, as transmissions over the
world wide web comes with certain unavoidable dangers and risks.</p>


<br>
<h3>CHILDREN'S PRIVACY</h3>
<p>All persons under the age of 18 must use the Apito service with the permission of and
under the supervision of a parent/legal guardian.</p>

<br>
<h3>LINKED SITES</h3>
<p>You may find certain links to other websites on the Apito website. It is important to
know that these websites may operate privacy policies that differ from our own. We
are in no way answerable for the activities, practices and/or privacy policy of these
websites. It is important that you read in full and understand the privacy policy of any
website that you may gain access to through our website.</p>


<br>
<h3>CHANGES TO THIS PRIVACY STATEMENT </h3>
<p>If we decide to change our Privacy Statement for Apito materially, we will update
those changes on this page.</p>








	
                    
        </div>
        <!--container-->



        <br><br><br><br>


    <div class="footer bg-light">
      <div class="container">
      
        <div class="row text-center" >
          
          <div class="col-lg-3 ml-auto padding-0">
            <h3 class="footer-heading"><span>Site Links</span></h3>
            <ul class="list-unstyled">

                <li><a href="mailto:apito.help.center@gmail.com">Contact us</a></li>
                <li><a href="{% url 't' %}">Terms and Conditions</a></li>
            </ul>
          </div>
          <div class="col-lg-3 mr-auto padding-0">
              <h3 class="footer-heading"><span>Social Media</span></h3>
              <ul class="list-unstyled">
                  <li><a href="https://www.facebook.com/Apito-106229387484222/"><span class="fab fa-facebook fa-lg"></span> Facebook </a></li>
                  <li><a href="https://www.instagram.com/apebbleintheocean/"><span class="fab fa-instagram fa-lg"></span> Instagram</a></li>
                  <li><a href="https://www.youtube.com/channel/UCRLnvpXOc8nwdwNYaLU6nJA"><span class="fab fa-youtube fa-lg"></span> YouTube</a></li>
                  <li><a href="https://www.twitch.tv/g_ioo"><span class="fab fa-twitch fa-lg"></span> Twitch</a></li>
              </ul>
          </div>

        </div>
        <div class="row" style="margin-bottom: 0;">
          <div class="center mx-auto">
            <img src="{% static 'footer.png' %}" height="170" width="150"/>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div>
                <p class="text-center">
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved</p>
            </div>
          </div>
        </div>
      </div>
    </div>



    

  </div>
  <!-- .site-wrap -->


  <!-- loader -->
  <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#ff5e15"/></svg></div>



  <script src="{% static 'v1/js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'v1/js/jquery-migrate-3.0.1.min.js' %}"></script>
  <script src="{% static 'v1/js/jquery-ui.js' %}"></script>
  <script src="{% static 'v1/js/popper.min.js' %}"></script>
  <script src="{% static 'v1/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'v1/js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'v1/js/jquery.stellar.min.js' %}"></script>
  <script src="{% static 'v1/js/jquery.countdown.min.js' %}"></script>
  <script src="{% static 'v1/js/bootstrap-datepicker.min.js' %}"></script>
  <script src="{% static 'v1/js/jquery.easing.1.3.js' %}"></script>
  <script src="{% static 'v1/js/aos.js' %}"></script>
  <script src="{% static 'v1/js/jquery.fancybox.min.js' %}"></script>
  <script src="{% static 'v1/js/jquery.sticky.js' %}"></script>
  <script src="{% static 'v1/js/jquery.mb.YTPlayer.min.js' %}"></script>




  <script src="{% static 'v1/js/main.js' %}"></script>

</body>

</html>