{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>APITO</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Oswald:400,700|Dancing+Script:400,700|Muli:300,400" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'v1/fonts/icomoon/style.css' %}">

  <link rel="stylesheet" href="{% static 'v1/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'v1/css/jquery-ui.css' %}">
  <link rel="stylesheet" href="{% static 'v1/css/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'v1/css/owl.theme.default.min.css' %}">
  <link rel="stylesheet" href="{% static 'v1/css/owl.theme.default.min.css' %}">

  <link rel="stylesheet" href="{% static 'v1/css/jquery.fancybox.min.css' %}">

  <link rel="stylesheet" href="{% static 'v1/css/bootstrap-datepicker.css' %}">

  <link rel="stylesheet" href="{% static 'v1/fonts/flaticon/font/flaticon.css' %}">

  <link rel="stylesheet" href="{% static 'v1/css/aos.css' %}">
  <link href="{% static 'v1/css/jquery.mb.YTPlayer.min.css' %}" media="all" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="{% static 'v1/css/style.css' %}">

<script>
// Set the date we're counting down to
var countDownDate = new Date("Jan 5, 2020 15:37:25").getTime();

// Update the count down every 1 second
var x = setInterval(function() {

  // Get todays date and time
  var now = new Date().getTime();

  // Find the distance between now an the count down date
  var distance = countDownDate - now;

  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

  // Display the result in an element with id="demo"
  document.getElementById("demo").innerHTML = days + "d " + hours + "h "
  + minutes + "m " + seconds + "s ";

  // If the count down is finished, write some text
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("demo").innerHTML = "EXPIRED";
  }
}, 1000);

</script>



</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>


    


      
      <div class="site-navbar py-2 js-sticky-header site-navbar-target d-none pl-0 d-lg-block" role="banner">

      <div class="container">
        <div class="d-flex align-items-center">
          
          <div class="mx-auto">
            <nav class="site-navigation position-relative text-right" role="navigation">
                <ul class="site-menu main-menu js-clone-nav mr-auto d-none pl-0 d-lg-block">
                    <li class="active">
                      <a href="{% url 'm' %}" class="nav-link text-left">Home</a>
                    </li>
                    <li>
                      <a href="{% url 'thisabout' %}" class="nav-link text-left">What's this about</a>
                    </li>
                    <li>
                      <a href="{% url 'p' %}" class="nav-link text-left">Product</a>
                    </li>
                    <li>
                        <a href="{% url 'cpn' %}" class="nav-link text-left">Promo Codes/Donations</a>
                    </li>
                    <li><a href="{% url 'us' %}" class="nav-link text-left">About us</a></li>
                    <li>
                        <a href="{% url 'cntct' %}" class="nav-link text-left">Contact us</a>
                      </li>
                  </ul>                                                                                                                                                                                                                                                                                           </ul>
            </nav>

          </div>
         
        </div>
      </div>

    </div>
    
    </div>
    
    <div>
        
    <!-- END slider -->
    <br>
    <br>
    <br>
    <br>




    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <img src="{% static 'v1/images/pebble.png' %}" alt="Image" class="img-fluid">
          </div>
          <div class="col-md-6">
            <span class="text-serif text-primary">About Us</span>
            <h3 class="heading-92913 text-black">Welcome To Our Website</h3>
            <p>Apito is a file sharing platform that allows you to upload your pictures and videos to the site and then share links with friends for them to download files.</p>
            <p>You can buy coupons and promo codes for yourself and for your friends and send it to them as gifts.</p>
            <p><a href="#" class="btn btn-primary py-3 px-4">What is this about?</a></p>
          </div>
        </div>
      </div>
    </div>



    
    <div class="footer bg-light">
      <div class="container">
        <div class="row">
          
          <div class="col-lg-3">
            <h3 class="footer-heading"><span>Our Company</span></h3>
            <ul class="list-unstyled">
                <li><a href="#">About us</a></li>
                <li><a href="#">Contact us</a></li>
            </ul>
          </div>
          <div class="col-lg-3">
              <h3 class="footer-heading"><span>Our Services</span></h3>
              <ul class="list-unstyled">
                  <li><a href="#">What it's about</a></li>
                  <li><a href="#">Product</a></li>
              </ul>
          </div>
          <div class="col-lg-3">
              <h3 class="footer-heading"><span>Policies</span></h3>
              <ul class="list-unstyled">
                  <li><a href="#">Privacy Policy</a></li>
                  <li><a href="#">Terms and Conditions</a></li>
              </ul>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div class="copyright">
                <p>
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    

  </div>
  <!-- .site-wrap -->


  <!-- loader -->
  <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#ff5e15"/></svg></div>



  <script src="{% static 'v1/js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'v1/js/jquery-migrate-3.0.1.min.js' %}"></script>
  <script src="{% static 'v1/js/jquery-ui.js' %}"></script>
  <script src="{% static 'v1/js/popper.min.js' %}"></script>
  <script src="{% static 'v1/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'v1/js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'v1/js/jquery.stellar.min.js' %}"></script>
  <script src="{% static 'v1/js/jquery.countdown.min.js' %}"></script>
  <script src="{% static 'v1/js/bootstrap-datepicker.min.js' %}"></script>
  <script src="{% static 'v1/js/jquery.easing.1.3.js' %}"></script>
  <script src="{% static 'v1/js/aos.js' %}"></script>
  <script src="{% static 'v1/js/jquery.fancybox.min.js' %}"></script>
  <script src="{% static 'v1/js/jquery.sticky.js' %}"></script>
  <script src="{% static 'v1/js/jquery.mb.YTPlayer.min.js' %}"></script>




  <script src="{% static 'v1/js/main.js' %}"></script>

</body>

</html>